@import "tailwindcss";

@layer base {
  html,
  body {
    overflow: hidden;
    height: 100%;
    background-color: #000;
  }
}

/* Utility để ẩn thanh cuộn nhưng vẫn có thể scroll */
@layer utilities {
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
